[submodule "docs/geometric-gastronomy"]
	path = docs/geometric-gastronomy
	url = https://github.com/ahb-sjsu/geometric-gastronomy.git
	branch = site
[submodule "docs/geometric-aesthetics"]
	path = docs/geometric-aesthetics
	url = https://github.com/ahb-sjsu/geometric-aesthetics.git
	branch = site
