[submodule "docs/geometric-economics"]
	path = docs/geometric-economics
	url = https://github.com/ahb-sjsu/geometric-economics.git
	branch = site
[submodule "docs/geometric-law"]
	path = docs/geometric-law
	url = https://github.com/ahb-sjsu/geometric-law.git
	branch = site
[submodule "docs/geometric-medicine"]
	path = docs/geometric-medicine
	url = https://github.com/ahb-sjsu/geometric-medicine.git
	branch = site
[submodule "docs/geometric-reasoning"]
	path = docs/geometric-reasoning
	url = https://github.com/ahb-sjsu/geometric-reasoning.git
	branch = site
[submodule "docs/geometric-cognition"]
	path = docs/geometric-cognition
	url = https://github.com/ahb-sjsu/geometric-cognition.git
	branch = site
[submodule "docs/geometric-communication"]
	path = docs/geometric-communication
	url = https://github.com/ahb-sjsu/geometric-communication.git
	branch = site
[submodule "docs/geometric-education"]
	path = docs/geometric-education
	url = https://github.com/ahb-sjsu/geometric-education.git
	branch = site
[submodule "docs/geometric-politics"]
	path = docs/geometric-politics
	url = https://github.com/ahb-sjsu/geometric-politics.git
	branch = site
